class: "input"
<%= form_with(model: add_flight, local: true) do |form| %>
  <% if add_flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(add_flight.errors.count, "error") %> prohibited this add_flight from being saved:</h2>

      <ul>
      <% add_flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :departing %>
    <%= form.text_field :departing %>
  </div>

  <div class="field">
    <%= form.label :arriving %>
    <%= form.text_field :arriving %>
  </div>

  <div class="field">
    <%= form.label :departureTime %>
    <%= form.datetime_select :departureTime %>
  </div>

  <div class="field">
    <%= form.label :arrivalTime %>
    <%= form.datetime_select :arrivalTime %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
