<p id="notice"><%= notice %></p>

<h1>Add Flights</h1>

<table>
  <thead>
    <tr>
      <th>Departing</th>
      <th>Arriving</th>
      <th>Departuretime</th>
      <th>Arrivaltime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @add_flights.each do |add_flight| %>
      <tr>
        <td><%= add_flight.departing %></td>
        <td><%= add_flight.arriving %></td>
        <td><%= add_flight.departureTime %></td>
        <td><%= add_flight.arrivalTime %></td>
        <td><%= link_to 'Show', add_flight %></td>
        <td><%= link_to 'Edit', edit_add_flight_path(add_flight) %></td>
        <td><%= link_to 'Destroy', add_flight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Add Flight', new_add_flight_path %>
